# avoid Ansible inventory files
hosts.aws
hosts.gce

# Editors of all kinds
#
*~
*#
*.swp

# Ansible runs
*.retry
download.cache

.DS_Store
.project
.settings
.classpath
.pydevproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg
