[Unit]
Description=Serf agent
Documentation=https://www.serf.io/docs/index.html
ConditionPathExists={{ install_dir }}/{{ service_name }}
After=network.target
# Requires=network.service

[Service]
TimeoutStartSec=3
Environment=SERF_NODENAME={{ ansible_fqdn }}
ExecStart={{ install_dir }}/{{ service_name }} agent -config-file {{ sysconfig_dir }}/{{ service_name }}.json
ExecStop={{ install_dir }}/{{ service_name }} leave
KillMode=process
User={{ serf_username }}
Group={{ serf_groupname }}

[Install]
WantedBy=multi-user.target