# ---------------------------------------------------------------------
#  Cloud-based virtual machines for software development
# ---------------------------------------------------------------------

[all:children]
{{ cloud_inventory_group }}

# ---------------------------------------------------------------------
#  All virtual machines
# ---------------------------------------------------------------------

[{{ cloud_inventory_group }}]
{% if vm_count|int > 0 %}
{% for host in groups[ cloud_inventory_group ] %}
{{ host }}   ansible_user={{ hostvars[ host ][ 'ansible_user' ] }}
{% endfor %}
{% endif %}

[{{ cloud_inventory_group }}:vars]
cloud = {{ cloud }}
count = {{ vm_count|int }}
#
# User defined virtual manchine tags
#
{% for tag in vm_tags %}
{{ tag }} = "{{ vm_tags[ tag ] }}"
{% endfor %}

# alias ---------------------------------------------------------------

[cloud:children]
{{ cloud_inventory_group }}

# ---------------------------------------------------------------------
# eof
#